.find-phone{
    color: orange;
    font-size: 50px;
}
#not-found{
    text-align: center;
    color: red;
    display: none;
 
}

.box-shodo{
    border: none;
    box-shadow: 1px 1px  10px gray;
    padding: 5px;
}